{% extends 'tarefas/base.html' %}

{% block content %}

<h1>Editar Tarefa</h1>

<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label>Título</label>
        {{ form.titulo }}
    </div>

    <div class="mb-3">
        <label>Descrição</label>
        {{ form.descricao }}
    </div>

    <div class="mb-3">
        <label>Usuário</label>
        {{ form.usuario }}
    </div>

    <div class="mb-3 form-check">
        {{ form.concluida }}
        <label>Concluída</label>
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
    <a href="/" class="btn btn-secondary">Voltar</a>

</form>

{% endblock %}